@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");

.todo-list-item{
    border-radius: 6px;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    user-select: none;
}

.selected{
    height: 10px;
    width: 10px;
    background: white;
    content: " ";
}

.todo-list-item p{
    max-width: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}

.todo-list-item p:hover{
    text-decoration: underline;
}

.todo-list-item span{
    font-size: 14px;
}

.todo-list-item button{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 0px;
    outline: none;
    border: none;
    color: white;
    background: none;
}

.todo-list-item button .icon{
    font-size: 22px;
}
